# core
playwright==1.49.0

# web
fastapi>=0.115.0,<0.116.0
pydantic>=2.10.0,<2.11.0
uvicorn>=0.34.0,<0.35.0
starlette<0.42.0,>=0.40.0
python-multipart==0.0.20

# unit test
pytest-playwright==0.5.1
pytest-asyncio==0.24.0

# load test
locust==2.31.3
